

<div class="container mt-5 mb-5">
    <h1>forget Password</h1>

    <form action="" method="POST">
        <input type="email" required placeholder="enter email"  name="email">
        <br><br>
        <input type="submit" value="forget Password" class="btn btn-info">
    </form>

    <%
        if(typeof message !== 'undefined'){
            %>
            <p> <%= message %></p>
            <%
        }
    %>

</div>



